.block1{
    background-color: #1F2937;
    color: black;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list{
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 3rem;
    margin-right: 130px;

}   

.logobar-list{
    display: flex;
    list-style: none;
    justify-content: left;
        
}

.logobar-list li{
    color: #F9FAF8;
    margin-left: 80px;
    font-size: 28px;
    font-weight: 600;
}

.navbar-list li a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}

.block1-subsection2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    align-items: center;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 450px;
}

.title-description{
    font-weight: 400;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.sign-up{
    
    background-color: #236ee7;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 600;
    padding:8px 35px;
    text-decoration: none;
    border-radius: 10px;
}

.sign-up:hover{
    background-color: #4289fb;
}

.block2{
    background-color: #F9FAF8;   
    font-family: "Roboto", sans-serif; 
}

.block2-title{
    margin-top: 40px;
    font-size: 40px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
}

.block2-section1{
    margin-top: 50px;
    margin-bottom: 70px;
}

.cards-list{
    list-style: none;  
    display: flex;
    justify-content: center;
    gap: 3rem;  
}

.cards-list li{
    color: rgb(94, 94, 94);
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    text-align: center;
}

.cards-list li .card{
    width: 100%;
    height: 200px;
    border: #236ee7 solid 4px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.block3{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.block3 .block3-title{
    margin-top: 100px;
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif; 
    font-size: 36px;
    font-style: italic;
    font-weight: 300 ;
    color: #1F2937;
    text-align: center;
    width: 60%;

}

.block4{
    background-color: #F9FAF8;
    font-family: "Roboto", sans-serif; 
    display: flex;
    justify-content: center;
}

.block4 .block4-section1{
    width: 60%;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 50px ;
    border-radius: 15px;
    background-color: #4289fb ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.block4 .block4-section1 .block4-title{
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.block4 .block4-section1 .block4-discription{
    font-size: 20px;
    font-weight: 600;
    color: #e5e7eb;
}

.block5{
    background-color: #1F2937;
}

.block5 .copyright{
    padding: 40px;
    color: #E5E7EB;
    font-family:"Roboto", sans-serif; 
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}